.section {
   text-align: left;
}

.button {
   margin-bottom: 20px;
   padding: 5px 10px;
   text-align: center;
   text-transform: capitalize;
   cursor: pointer;
   color: #01b4e4;
   transition: color 300ms linear, font-weight 300ms linear;
}
.button:hover,
.button:focus {
   color: #90cea1;
   font-weight: bold;
}

.mainWrapper {
   display: flex;
   border-bottom: 1px solid blue;
}

.image {
   display: block;
}

.descWrapper {
   margin-left: 20px;
   text-align: left;
}

.genresList {
   display: flex;
   list-style: none;
   padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
}

.genreItem:not(:last-child) {
   margin-right: 10px;
}

.infoWrapper {
   border-bottom: 1px solid blue;
   margin-bottom: 10px;
}

.infoTitle {
   text-align: center;
}

.infoList {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   text-align: center;
   list-style: none;
}

.infoItem:not(last-child) {
   margin-bottom: 15px;
}

.infoLink {
   font-weight: bold;
   text-decoration: none;
   text-align: center;
   cursor: pointer;
   color: #01b4e4;
   transition: color 250ms linear, text-decoration 250ms linear;
}

.infoLink:hover,
.infoLink:focus {
   color: #90cea1;
   text-decoration: underline;
}
