.section {
   text-align: left;
}

.button {
   margin-bottom: 20px;
   padding: 5px 10px;
   text-align: center;
   background: linear-gradient(to right, hsl(150 100% 50%), hsl(190 100% 60%));
   text-transform: capitalize;
   border-radius: 6px;
   opacity: 0.85;
   cursor: pointer;
   color: rgba(21, 20, 20, 0.85);
   transition: color 300ms linear, background 300ms linear, opacity 300ms linear;
}
.button:hover,
.button:focus {
   opacity: 1;
   color: rgb(21, 20, 20);
   background: linear-gradient(to left, hsl(150 100% 50%), hsl(190 100% 60%));
}

.mainWrapper {
   display: flex;
   border-bottom: 1px solid blue;
}

.image {
   display: block;
}

.descWrapper {
   margin-left: 20px;
   text-align: left;
}

.genresList {
   display: flex;
   list-style: none;
   padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
}

.genreItem:not(:last-child) {
   margin-right: 10px;
}

.infoWrapper {
   border-bottom: 1px solid blue;
   margin-bottom: 20px;
}

.infoTitle {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.infoList {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   text-align: center;
   list-style: none;
}

.infoItem:not(last-child) {
   margin-right: 15px;
}

.infoLink {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 6px 10px;

   font-weight: bold;
   text-decoration: none;
   text-align: center;
   cursor: pointer;
   color: #01b4e4;
   transition: color 250ms linear, text-decoration 250ms linear;
}

.infoLink:hover,
.infoLink:focus {
   color: #90cea1;
   text-decoration: underline;
}
