.list {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.item {
   align-items: baseline;
}
.item:not(:last-child) {
   margin-right: 30px;
}
.link {
   display: block;
   text-decoration: none;
   text-align: center;
   padding: 12px;
   font-weight: 500;
   color: #0d253f;
   font-size: 20px;
   text-transform: capitalize;
   cursor: pointer;
   transition: color 280ms linear;
}
.link:hover,
.link:focus {
   color: #2196f3;
}

.activeLink {
   color: #2196f3;
}

/* .lastItem {
   max-width: 100px;
   margin-left: auto;
   font-size: 15px;
   font-weight: normal;
} */
