.header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 80px;
   margin-bottom: 16px;
   background: linear-gradient(to bottom right, hsl(150 100% 50%), hsl(190 100% 60%));
   border-radius: 1rem;
   position: relative;
}

.header::before {
   content: '';
   position: absolute;
   inset: 0;
   background: linear-gradient(to right, hsl(150 100% 50%), hsl(190 100% 60%));
   z-index: -1;
   transform: translateY(15%) scale(0.85);
   filter: blur(30px);
}

.link {
   padding: 12px;
   text-decoration: none;
   cursor: pointer;
   color: #0d253f;
   transition: color 280ms linear;
}
.link:hover ~ .logo {
   color: #2196f3;
}

.logo {
   display: block;
   width: 100%;
   max-width: 80px;
   height: auto;
   fill: transparent;
   transition: fill 280ms linear;
}
.logo:hover {
   color: #2196f3;
}
