body {
   line-height: 1.5;
   background-color: #fff;
   /* background: -webkit-linear-gradient(
      135deg,
      rgb(13, 37, 63) 6%,
      rgb(86, 181, 184) 47%,
      rgb(144, 206, 161) 86%
   );
   background: -moz-linear-gradient(
      135deg,
      rgb(13, 37, 63) 6%,
      rgb(86, 181, 184) 47%,
      rgb(144, 206, 161) 86%
   );
   background: linear-gradient(
      135deg,
      rgb(13, 37, 63) 6%,
      rgb(86, 181, 184) 47%,
      rgb(144, 206, 161) 86%
   ); */
   color: #212121;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
      'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

button {
   cursor: pointer;
}

ul {
   list-style: none;
   padding-left: 0px;
   margin: 0px;
}
